# Assignment

***Q1. What are the characteristics of the tuples? Is tuple immutable?***

Ans) Characters of tuples are:-
1.) We can create tuple using **()** circular braches

2.) Tuple is **similar** to list 

3.) Tuple can store homogenous(same data type) or hetrogenous type of elements

4.) Tuple is ordered datatype i.e. it preserves the order of elements in which they are entred

5.) Traversing is possible in tuple using indexing and slicing 

Tuple is **immutable** we cannot override the element at particular index and modification is not possible in existing tuple.

***Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.***

Ans) The two tuple methods are:-

1.) tuple.count(`value`):-  Return number of occurrences of value.

2.) tuple.index(`value`):- Return first index of value if found else Raises ValueError if the value is not present.

In [5]:
t1 = (1,2,3,3,4,5,6,2,9)  # creating a tuple
print('Occurrences of element 3 is',t1.count(3))  # counting occurrence of 3

Occurrences of element 3 is 2

In [6]:
print('Index of element 3 is',t1.index(2))

Index of element 3 is 1

Since, tuple is **immutable** any method which can modify the element of tuple are not included. `count(),index()` is only present 
because they do not modify tuple they only perform read operation on tuple

***Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.***

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Ans) **Set** datatype in python do not allow duplicate items.

In [10]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

print(f'List before removing duplicate elements: \n{List}')
set_1 = set(List) # converting list to set inorder to remove duplicate elements
List = list(set_1)
print(f'List after removing duplicate elements: \n{List}')

List before removing duplicate elements:
[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
List after removing duplicate elements:
[1, 2, 3, 4]

***Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.***

In [ ]:
Ans) 
1.) set.union(`value`) :--> Return the union of sets as a new set i.e. all elements that are in either set. `type(value) --> set`. not  INPLACE operation

2.) set.update(`value`) :--> Update a set with the union of itself and others. INPLACE operation

In [35]:
set_1 = {1,2,3,4}   #creating set
set_2 = {5,6,7,8,4}
print(f'set_1: {set_1},  set_2 {set_2}')

set_1: {1, 2, 3, 4},  set_2 {4, 5, 6, 7, 8}

In [36]:
# union
print('set_1 U set_2',set_1.union(set_2))

set_1 U set_2 {1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
set_1 # original data is not modified

{1, 2, 3, 4}

In [38]:
# update
set_1.update(set_2) # updating set_1
print('Updated set_1',set_1)

Updated set_1 {1, 2, 3, 4, 5, 6, 7, 8}

***Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.***

Ans) **Dictionary** is a datatype in which we store elements in `key:value` pairs

**Regular** dictonary are `unordered`, but if you want to store element in ordered manner then you can go for **Ordered** dictonary

In [40]:
dic1 = {'name':'Shalu Singh','course_name':'Data Science Masters','gender':'Male','age':22} # creating dictonary
print(dic1)
print(type(dic1))

{'name': 'Shalu Singh', 'course_name': 'Data Science Masters', 'gender': 'Male', 'age': 22}
<class 'dict'>

***Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.***

Ans) Yes, we can nested dictionary

In [43]:
# Creating nested dictonary
dic2 = {'name':'Shalu Singh', 
        'gender':'Male',
        'age':22,
        'marks':{'maths':77,'eng':82,'phy':80}
       }
print(dic2)
print('Marks in maths:',dic2['marks']['maths'])

{'name': 'Shalu Singh', 'gender': 'Male', 'age': 22, 'marks': {'maths': 77, 'eng': 82, 'phy': 80}}
Marks in maths: 77

***Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list `['Python', 'Machine Learning’, 'Deep Learning']`***

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [52]:
topics = ['Python','Machine Learning','Deep Learning']
dict1 = {'language':'Python',
        'course':'Data Science Masters',
       }
print(dict1)
dict1.setdefault('topics',topics) # Insert key with a value of default if key is not in the dictionary.
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters'}
{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

***Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.***

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Ans) The main view objects of dictionary in python are :- 
1) `dict.keys()` :--> it holds all the keys of dictonary

2) `dict.values()` :--> it holds **all** the values of dictonary


3) `dict.items()` :--> if holds **all** `key:value` pairs

In [58]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

print('keys of dict1 are:',dict1.keys(),end = '\n\n')
print('values of dict1 are:',dict1.values(),end = '\n\n')
print('key:value pairs of dict1 are:',dict1.items())

keys of dict1 are: dict_keys(['Sport', 'Teams'])

values of dict1 are: dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

key:value pairs of dict1 are: dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])