# Class-5

## Tuple

**()** Use circular braches in order to create tuple

Unlike list tuple are **immutable**

**indexing and slicing** operator is only possible on tuple

In [3]:
t = () # creating empty tuple
type(t)

tuple

In [14]:
t1 = (1,2,3,4,5,5.,5,4+5j,'singh',True)

In [28]:
## reverse of tuple
t1[::-1]

(1, 2, 3, 4, 5, 5.0, 5, (4+5j), 'singh', True)

In [15]:
print('Address of tuple before changing',id(t1))
t1 = t1[::-1]
print('Address of tuple after reversing',id(t1))
t1

Address of tuple before changing 140436374023360
Address of tuple after reversing 140436374024256

(True, 'singh', (4+5j), 5, 5.0, 5, 4, 3, 2, 1)

In [18]:
# Extracting 1st 3 elements of tuple
t1[:3]

(True, 'singh', (4+5j))

In [19]:
t1.count(5) # Return number of occurrences of value.

3

In [23]:
t1.index(3) # Return first index of value if found else raise value_error

7

## Major differences between list and tuple

1) Tuple are **immutable** where as list are **mutable**

In [38]:
t2 = (1,2,3,4)
t2

(1, 2, 3, 4)

In [41]:
t2 * 3 # replecting the tuple 3 times

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Nested Tuple

In [45]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t3 = (t1,t2) # nested tuple
t3

((1, 2, 3, 4), (5, 6, 7, 8))

In [51]:
t4 = ([1,2,3,4],)
print(type(t4))
t4

<class 'tuple'>

([1, 2, 3, 4],)

In [52]:
t4[0][0]= 100

In [53]:
t4

([100, 2, 3, 4],)

In [55]:
print(type(t4[0]))

<class 'list'>

# Set

**{n}** curly braces with atleast 1 element is use to create set

set does not contain **duplicates** element is will always store unique elements

set is **unorderd** means the order in which elements are enterd is not preserved

***NOTE:->*** you cannot access the elements of set using indexing because order is not maintain

In [4]:
type({}) #this will create dictonary

dict

In [3]:
type({5}) # this is a set

set

In [19]:
s2 = {1,1,2,3,48,9}

In [6]:
s2

{1, 2, 3, 9, 48}

In [8]:
# convert set into list
l2 = list(s2)
print(l2)
type(l2)

[48, 1, 2, 3, 9]

list

In [9]:
# conversion of set to tuple
t2 = tuple(s2)
print(t2)
type(t2)

(48, 1, 2, 3, 9)

tuple

In [11]:
s3 = {1,2,3,4,[1,2,3,4]}

TypeError: unhashable type: 'list'

In [12]:
s4 = {1,2,3,4,(1,2,3,4)}
s4

{(1, 2, 3, 4), 1, 2, 3, 4}

Set allow **tuple** to be its elements **[IMMUTABLE]**

Set doesnot allow **list** to be its elements **[MUTABLE]**

In [15]:
s4[0] # Indexing concept is not available in set

TypeError: 'set' object is not subscriptable

In [17]:
# we can traverse through set using for loop but you cannot use indexing 
for i in s2:
    print(i)

48
1
2
3
9

In [20]:
s2.add(35) # Add an element to a set.[INPLACE]
s2

{1, 2, 3, 9, 35, 48}

In [21]:
len(s2)

6

In [22]:
s2.pop() # Remove and return an arbitary set elements.

48

In [23]:
s2

{1, 2, 3, 9, 35}

In [24]:
s2.pop()

1

In [25]:
s2

{2, 3, 9, 35}

In [26]:
s2.clear() # Remove all elements from this set
s2

set()

In [29]:
# checking difference between two sets
s1 = {1,2,3,4}
s2 = {1,2,3,5}
print('s1 - s2:',s1.difference(s2))
print('s2 - s1:',s2.difference(s1))

s1 - s2: {4}
s2 - s1: {5}

# Dictonary

**{}** with **key:value** pair is use to create dictonary

**key :-->** it should be ***immutable** object

**value :-->** it can be **mutable or immutable** object

***NOTE:-->*** You cannot create key with **list,set or dict**

In [31]:
d1 = {}  #empty dictonary
type(d1)

dict

In [47]:
d1= {'name':'Shalu','emial':'xyz@gmail.com','password':'alpha'}

In [48]:
print(d1)

{'name': 'Shalu', 'emial': 'xyz@gmail.com', 'password': 'alpha'}

In [40]:
# key should be unique 
# id duplicate key is used then last dupicate value will be updated
d2 = {'name':'Shalu','name':'Singh'}

In [41]:
d2

{'name': 'Singh'}

In [49]:
d3 = {(145):{5,8,9}} #tuple is immutable so it can key

In [50]:
d3

{145: {5, 8, 9}}

## Nested Dictonary

In [56]:
d4 = {'key':{'name':'Shalu','course':'Data Science'}} 
d4

{'key': {'name': 'Shalu', 'course': 'Data Science'}}

In [57]:
d4['key']['name']

'Shalu'

In [59]:
# adding new key:value pair in d4
d4['gender'] = 'Male'
d4

{'key': {'name': 'Shalu', 'course': 'Data Science'}, 'gender': 'Male'}

In [64]:
d4.values()

dict_values([{'name': 'Shalu', 'course': 'Data Science'}, 'Male'])

In [67]:
# extracting key:value
d4.items()

dict_items([('key', {'name': 'Shalu', 'course': 'Data Science'}), ('gender', 'Male')])

In [68]:
# converting dict to list
lst = list(d4.items())
lst

[('key', {'name': 'Shalu', 'course': 'Data Science'}), ('gender', 'Male')]

In [70]:
# converting list to dict
d5  = dict(lst)
d5

{'key': {'name': 'Shalu', 'course': 'Data Science'}, 'gender': 'Male'}

In [73]:
d6 = d5.copy() # deep copying

In [74]:
id(d5)

140526570385088

In [75]:
id(d6)

140526150820544

In [76]:
del d6['gender']

In [77]:
d5,d6

({'key': {'name': 'Shalu', 'course': 'Data Science'}, 'gender': 'Male'},
 {'key': {'name': 'Shalu', 'course': 'Data Science'}})

In [79]:
d6.fromkeys('gender','Male')

{'g': 'Male', 'e': 'Male', 'n': 'Male', 'd': 'Male', 'r': 'Male'}

In [81]:
d6

{'key': {'name': 'Shalu', 'course': 'Data Science'}}

## Dictonary Comprehensions

In [82]:
# Example_1:- key range(1,10): value square of key
d7 = {i:i**2 for i in range(1,11)}
d7

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [84]:
# Example_2:- key range(1,10): value log10(key)
import math
d8 = {i:math.log10(i)for i in range(1,11)}
d8

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [86]:
# Example_3:- filter out values where key are even numbers
val_ = {i:d8[i] for i in d8 if (i%2==0)}

In [87]:
val_

{2: 0.3010299956639812,
 4: 0.6020599913279624,
 6: 0.7781512503836436,
 8: 0.9030899869919435,
 10: 1.0}